/* =======================================
	reset.css
======================================= */
/*html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)+*/
html, body, div, span, object, iframe, img, p, h1, h2, h3, h4, h5, h6,
blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul li, ul li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

embed {
  outline: none;
  border: none;
}

/*for Form Element on SmartPhone
input[type="submit"] {-webkit-appearance:none;border-radius:0;vertical-align:middle; text-align:center}*/
/*anchor, img*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
  transition: all 0.5s ease-out;
  overflow: hidden;
  color: #333;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

img, a img {
  border: none;
}

a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a:focus {
  outline: none;
  outline-offset: inherit;
}

a:focus, a:hover {
  text-decoration: none;
}

/*clear*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* Bootstrap */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  margin: 0;
  padding: 0;
}