// Typography
$font-family-sans-serif: 'M PLUS Rounded 1c', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$green: #60c18b;
$orange: #e9b323;
$orange-bg: #f4bf30;
$red: #ce1717;
