@charset "utf-8";
@import "_reset", "_color";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap');
/* =======================================
	common
======================================= */
*{
	line-height: 1.5;
}
body , html {
	width: 100%;
	height: 100% !important;
}　
body  {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 14px;
	color: #666;
}

#wrapper {
	width: 100%;
	margin: 80px auto 0;
	position: relative;
	height: auto !important;
	min-height: 100%;
	z-index: 1;
}
@media screen and (max-width: 768px) {
	#wrapper {
		margin: 60px auto 0;
	}
}
/* =======================================
	drawerMenu.css
======================================= */
header {
	width:100%;
	z-index: 10 !important;
	position:fixed;
	display:table;
	font-size:0;
	line-height:0;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
	top: 0;
	right: 0;
	height: 80px;
	background-color: #fff;
}

header h1, nav {
  display: table-cell;
}

nav {
  text-align: left;
  vertical-align:bottom;
  float: right;
  padding: 20px 15px 0 0;
}

header h1 a img {
  height: 50px;
}

header ul.global-nav {
  font-size: 14px;
  line-height: 1;
  margin:0 10px 10px 0;
}

header ul.global-nav li {
  margin: 0 10px;
  display: inline-block;
}

header ul.global-nav li a {
  color: inherit;
}

/* Toggle(Button)_____________________________________*/
#navToggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

#navToggle div {
  position: relative;
}

#navToggle span {
  display: block;
  position: absolute;
  width:100%;
  border-bottom:solid 3px #999;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#navToggle span:nth-child(1) {
  top: 0;
}

#navToggle span:nth-child(2) {
  top: 11px;
}

#navToggle span:nth-child(3) {
  top: 22px;
}

/*Media-queries_____________________________________*/
@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  header nav {
    position: absolute;
    right: 0;
    top: -576px;
    /*通常時はビュー外*/
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0 10px;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 99;
  }

  header ul.global-nav {
    margin: 0;
  }

  header ul.global-nav li {
    display: block;
    margin: 0;
    border-bottom: dotted 1px #cccccc;
    line-height: 3;
    padding: 5px 0;
  }

  header ul.global-nav li a {
    display: block;
    color: #fff;
  }

  header ul.global-nav li::after {
    content: "";
  }

  header ul.global-nav li:last-child {
    border-bottom: none;
  }

  /* Toggle(Button) */
  #navToggle {
    display: block;
  }

  /* Click Toggle(Button) */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    transform: rotate(-45deg);
  }

  .openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
    top: 11px;
    transform: rotate(45deg);
  }

  /*header menu*/
  .openNav nav {
    transform: translateY(631px);
  }
}

footer {
	width: 100%;
	background-color: rgb(96 193 139 / 10%);
}
footer #copyright,
footer #copyright span {
    color: #c3ac92;
    font-size: 11px;
    padding: 3em 0 1em;
	text-align: center;
}
footer #foot-navi {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 40px 30px;
  }
  
  footer #foot-navi ul {
	padding: 5px 20px 20px;
  }
  
  footer #foot-navi li:before {
	position: absolute;
	left: 0;
	content: "-";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: contain;
  }
  
  footer .kiyaku ul {
	display: inline-block;
  }
  footer .kiyaku ul li {
	float: left;
	padding-left: 10px;
	margin: 2em auto;
  }
  footer .kiyaku  ul li::after {
	content: " |";
  }
  
  footer .kiyaku  ul li:last-child::after {
	content: "";
  }
  
  @media screen and (max-width: 767px) {
	footer #foot-navi {
	  padding: 50px 30px 30px;
	}
  
	footer #footer {
	  padding-top: 2.5em;
	}
  
	footer #copyright, footer #copyright span {
	  padding: 2em 0 1em;
	}
  }
.container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	height: 100%;
	display: table;
	padding: 0 20px;
}
section{
	max-width: 1200px;
	padding-bottom: 20px;
	margin: 0 50px;
}
.align-center {
    text-align: center;
}
/* .global-nav a */
.active {
	color: $green;
}
.global-nav a  {
	line-height: 2.5em;
	position: relative;
	padding-bottom: 5px;
}
.global-nav a:hover {
	color: $green;
}
.global-nav a::after {
	content: '';
	background: $green;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .3s;
	height: 2px;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.active {
		color: #c3ac92;
	}
	.global-nav a:hover {
		color: #c3ac92;
	}
	.global-nav a::after {
		background: #c3ac92;
	}
}
.global-nav a:hover::after {
	transform: scale(1, 1);
}
/*fade-in  css-type --------------------*/
.fade-in {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
}
@keyframes fadein {
	from {
	    opacity: 0;
	    transform: translateY(20px);
	}
	to {
	    opacity: 1;
	    transform: translateY(0);
	}
}
/*gotoTop -----------------------------*/
#gotoTop {
	position: fixed !important;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	border: 1px solid #efdca9;
	background-color: $green;
	border-radius: 50%;
	z-index: 1;
}
#gotoTop a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
	color: #fff;
}
#gotoTop a::before {
	font-family: 'FontAwesome';
	content: '\f106';
	font-size: 24px;
	color: #fff;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 3px;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
/*btn -----------------------------*/
.btn-green {
	display       : inline-block;
	text-align    : center;
	cursor        : pointer;
	padding       : 15px;
	background    : $green;
	color         : #fff;
	line-height   : 1em;
	transition    : .3s;
	box-shadow    : 4px 4px 3px #ccc;
	text-decoration: none;
	margin: 5px;
	font-size: 1.2em;
}
.btn-green:hover,
.btn-green:focus {
	text-decoration: none;
	outline: none;
}
.btn-green:hover,
.btn-green:focus {
	box-shadow    : none;
	color         : #fff;
	background    : #524d4b;
}
.btn-teacher {
	display       : inline-block;
	text-align    : center;
	cursor        : pointer;
	padding       : 0 15px;
	background    : $orange;
	color         : #fff;
	line-height   : 1em;
	transition    : .3s;
	text-decoration: none;
	border-radius: 18px;
}
.btn-teacher:hover,
.btn-teacher:focus {
	text-decoration: none;
	outline: none;
}
.btn-teacher:hover,
.btn-teacher:focus {
	color         : #fff;
	background    : #524d4b;
}
.global-nav .btn-teacher a:hover {
	color: inherit;
}
.global-nav .btn-teacher a::after {
	background: inherit;
}
