.main {
  height: 600px;
  color: #fff;
  position: relative;
  background-image: url("../images/main_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 5em;
}

h2 {
  padding-top: 80px;
  text-align: center;
}

.main p {
  position: absolute;
  bottom: 6em;
  left: 20%;
  font-size: 1.2em;
  font-weight: bold;
}

.flex1, .flex2 {
  display: flex;
  width: 100%;
  margin: 2em auto;
}

.flex1 {
  flex-flow: row-reverse;
}

.text-box {
  padding: 5em 1em;
  width: 40%;
  text-align: center;
}
.text-box h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.text-box p {
  margin-bottom: 1.5em;
  line-height: 2em;
}

.img-box {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  h2 img {
    width: 80vw;
  }

  h3 span {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .main {
    height: 400px;
  }

  h2 {
    padding-top: 60px;
  }

  .main p {
    bottom: 3em;
    left: 100px;
  }

  .text-box {
    padding: 3em 0.5em;
  }
}
@media screen and (max-width: 767px) {
  .main {
    height: 300px;
  }

  h2 img {
    width: 85vw;
  }

  .main p {
    bottom: 5em;
    left: 30px;
    font-size: 0.85em;
  }

  .flex1, .flex2 {
    display: block;
  }

  .text-box, .img-box {
    width: 100%;
  }
}