@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:wght@400&display=swap);@charset "UTF-8";
/* =======================================
	reset.css
======================================= */
/*html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)+*/
html, body, div, span, object, iframe, img, p, h1, h2, h3, h4, h5, h6,
blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul li, ul li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

embed {
  outline: none;
  border: none;
}

/*for Form Element on SmartPhone
input[type="submit"] {-webkit-appearance:none;border-radius:0;vertical-align:middle; text-align:center}*/
/*anchor, img*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
  transition: all 0.5s ease-out;
  overflow: hidden;
  color: #333;
}

a:hover {
  color: #C72914;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

img, a img {
  border: none;
}

a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

a:focus {
  outline: none;
  outline-offset: inherit;
}

a:focus, a:hover {
  text-decoration: none;
}

/*clear*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* Bootstrap */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  margin: 0;
  padding: 0;
}

/* =======================================
	common
======================================= */
* {
  line-height: 1.5;
}

body, html {
  width: 100%;
  height: 100% !important;
}

　 body {
  font-family: "M PLUS Rounded 1c";
  font-size: 14px;
  color: #666;
}

#wrapper {
  width: 100%;
  margin: 80px auto 0;
  position: relative;
  height: auto !important;
  min-height: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #wrapper {
    margin: 60px auto 0;
  }
}
/* =======================================
	drawerMenu.css
======================================= */
header {
  width: 100%;
  z-index: 10 !important;
  position: fixed;
  display: table;
  font-size: 0;
  line-height: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  height: 80px;
  background-color: #fff;
}

header h1, nav {
  display: table-cell;
}

nav {
  text-align: left;
  vertical-align: bottom;
  float: right;
  padding: 20px 15px 0 0;
}

header h1 a img {
  height: 50px;
}

header ul.global-nav {
  font-size: 14px;
  line-height: 1;
  margin: 0 10px 10px 0;
}

header ul.global-nav li {
  margin: 0 10px;
  display: inline-block;
}

header ul.global-nav li a {
  color: inherit;
}

/* Toggle(Button)_____________________________________*/
#navToggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

#navToggle div {
  position: relative;
}

#navToggle span {
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 3px #999;
  transition: 0.35s ease-in-out;
}

#navToggle span:nth-child(1) {
  top: 0;
}

#navToggle span:nth-child(2) {
  top: 11px;
}

#navToggle span:nth-child(3) {
  top: 22px;
}

/*Media-queries_____________________________________*/
@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }

  header nav {
    position: absolute;
    right: 0;
    top: -576px;
    /*通常時はビュー外*/
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0 10px;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 99;
  }

  header ul.global-nav {
    margin: 0;
  }

  header ul.global-nav li {
    display: block;
    margin: 0;
    border-bottom: dotted 1px #cccccc;
    line-height: 3;
    padding: 5px 0;
  }

  header ul.global-nav li a {
    display: block;
    color: #fff;
  }

  header ul.global-nav li::after {
    content: "";
  }

  header ul.global-nav li:last-child {
    border-bottom: none;
  }

  /* Toggle(Button) */
  #navToggle {
    display: block;
  }

  /* Click Toggle(Button) */
  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    transform: rotate(-45deg);
  }

  .openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
    top: 11px;
    transform: rotate(45deg);
  }

  /*header menu*/
  .openNav nav {
    transform: translateY(631px);
  }
}
footer {
  width: 100%;
  background-color: rgba(96, 193, 139, 0.1);
}

footer #copyright,
footer #copyright span {
  color: #c3ac92;
  font-size: 11px;
  padding: 3em 0 1em;
  text-align: center;
}

footer #foot-navi {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 40px 30px;
}

footer #foot-navi ul {
  padding: 5px 20px 20px;
}

footer #foot-navi li:before {
  position: absolute;
  left: 0;
  content: "-";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
}

footer .kiyaku ul {
  display: inline-block;
}

footer .kiyaku ul li {
  float: left;
  padding-left: 10px;
  margin: 2em auto;
}

footer .kiyaku ul li::after {
  content: " |";
}

footer .kiyaku ul li:last-child::after {
  content: "";
}

@media screen and (max-width: 767px) {
  footer #foot-navi {
    padding: 50px 30px 30px;
  }

  footer #footer {
    padding-top: 2.5em;
  }

  footer #copyright, footer #copyright span {
    padding: 2em 0 1em;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  height: 100%;
  display: table;
  padding: 0 20px;
}

section {
  max-width: 1200px;
  padding-bottom: 20px;
  margin: 0 50px;
}

.align-center {
  text-align: center;
}

/* .global-nav a */
.active {
  color: #60c18b;
}

.global-nav a {
  line-height: 2.5em;
  position: relative;
  padding-bottom: 5px;
}

.global-nav a:hover {
  color: #60c18b;
}

.global-nav a::after {
  content: "";
  background: #60c18b;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
  height: 2px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .active {
    color: #c3ac92;
  }

  .global-nav a:hover {
    color: #c3ac92;
  }

  .global-nav a::after {
    background: #c3ac92;
  }
}
.global-nav a:hover::after {
  transform: scale(1, 1);
}

/*fade-in  css-type --------------------*/
.fade-in {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*gotoTop -----------------------------*/
#gotoTop {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  border: 1px solid #efdca9;
  background-color: #60c18b;
  border-radius: 50%;
  z-index: 1;
}

#gotoTop a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #fff;
}

#gotoTop a::before {
  font-family: "FontAwesome";
  content: "\F106";
  font-size: 24px;
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 3px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*btn -----------------------------*/
.btn-green {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  background: #60c18b;
  color: #fff;
  line-height: 1em;
  transition: 0.3s;
  box-shadow: 4px 4px 3px #ccc;
  text-decoration: none;
  margin: 5px;
  font-size: 1.2em;
}

.btn-green:hover,
.btn-green:focus {
  text-decoration: none;
  outline: none;
}

.btn-green:hover,
.btn-green:focus {
  box-shadow: none;
  color: #fff;
  background: #524d4b;
}

.btn-teacher {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  background: #f1bf31;
  color: #fff;
  line-height: 1em;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 18px;
}

.btn-teacher:hover,
.btn-teacher:focus {
  text-decoration: none;
  outline: none;
}

.btn-teacher:hover,
.btn-teacher:focus {
  color: #fff;
  background: #524d4b;
}

.global-nav .btn-teacher a:hover {
  color: inherit;
}

.global-nav .btn-teacher a::after {
  background: inherit;
}